<h1>Hola Project Tona</h1>
<p>
Que hora es Corazon <%=@time%>
</p>
<p><%= @Addition%></p>
<p><%= "cow" + "boy"%></p>



<p><%= @Time_hour%></p>


<p>
Hoara de irse
<%= link_to "Adios", say_goodbye_path %>!
</p>
