<h1>Hours#edit</h1>

<%=form_for @hour  do |f| %>
    <%= f.label :Alumno %><br>
    <%= f.text_field  :student_id %><br>
    <%= f.label :Grupo %><br>
    <%= f.text_field  :group_id %><br>
    <%= f.label :Cupo %><br>
    <%= f.text_field  :quota %><br>
   

    <%=f.submit%>
<% end%>


