<h1>Hours new</h1>
<br>


<%=form_for @hour, url: hours_path  do |f| %>
    <%= f.label :Codigo_Grupo %><br>
    <%= f.text_field  :code_group_id %><br>
    <%= f.label :Matricula_Alumno %><br>
    <%= f.text_field  :matricula_student_id %><br>
    <%= f.label :cupo %><br>
    <%= f.text_field  :quota %><br>
   

    <%=f.submit%>
<% end%>
