<h1>Tareas index</h1>

<%= @task.each do |task| %>
    <%= task.name %> <%= task.doc %>
    <%= link_to 'Editar', edit_task_path(task) %>
    <%= link_to 'Eliminar', task, method: :delete, data:{confirm: 'Seguro deseas eliminarlo?'} %>
    <br>
<% end %>