<h1>Tareas new</h1>
<br>


<%=form_for @task, url: tasks_path  do |f| %>
    
    <%= f.label :Tarea %><br>
    <%= f.text_field  :name %><br>
    <%= f.label :materia %><br>
    <%= f.text_field  :subject_id %><br>
    <%= f.label :Archvo %><br>
    <%= f.file_field  :doc %><br>

   

    <%=f.submit%>
<% end%>
