<h1>Groups new</h1>
<br>


<%=form_for @group, url: groups_path  do |f| %>
    <%= f.label :Codigo_Grupo %><br>
    <%= f.text_field  :code_group %><br>
    <%= f.label :Codigo_Materia %><br>
    <%= f.text_field  :code_subject_id %><br>

   

    <%=f.submit%>
<% end%>
